{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Новости</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Название
                        </th>
                        <th>
                          Текст
                        </th>
                        <th>
                          Фото
                        </th>
                        <th>
                          Дата
                        </th>
                        <th>
                          Операции
                        </th>
                      </thead>
                      <tbody>
                        {% for l in list %}
                            <tr>
                                <td>{{ l.pk }}</td>
                                <td>{{ l.name }}</td>
                                <td>{{ l.description|truncatewords:30 }}</td>
                                <td><img src="/media/{{ l.img }}" alt="" width="80" height="80"></td>
                                <td>{{ l.created_at|date:"Y-m-d" }}</td>
                                <td></td>
                            </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
