{% extends "./base.html" %}

{% block content %}


			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="{% url 'home' %}">Главная</a>
						<span>О нас</span>
					</div>
				</div>

				<div class="page">
					<div class="fullwidth-block">
						<div class="container">
							<h1 class="entry-title">Почему вам стоит выбрать нас?</h1>
							<p>Заботясь о наших клиентах, мы разработали программы, которые помогут обезопасить Вас или Ваш бизнес - Страхование автомашины, имущества, недвижимости, туристов, страховка КАСКО.

«Номад» – один из лидеров страхового рынка. Мы занимаем третье место на рынке общего страхования. Каждый седьмой казахстанец выбрал нас и доверил нам свои риски.

Узнайте о всех услугах страховой компании "Nomad Insurance" и воспользуйтесь помощью настоящих профессионалов.</p>
							
							<div class="features">
								<div class="feature-numbered">
									<div class="num">1</div>
									<h2 class="feature-title">Автомобиль</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
								<div class="feature-numbered">
									<div class="num">2</div>
									<h2 class="feature-title">Путешествие</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
								<div class="feature-numbered">
									<div class="num">3</div>
									<h2 class="feature-title">Имущества</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
								<div class="feature-numbered">
									<div class="num">4</div>
									<h2 class="feature-title">Здоровье</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
							</div>
						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->

					<div class="fullwidth-block" data-bg-color="#f1f1f1">
						<div class="container">
							<h2 class="section-title">История</h2>
                            <p>Первая практика, схожая со страхованием, встречается в Вавилоне приблизительно за 4000 до наших дней. В Вавилоне, который был центром торговли своего времени, богачи, которые одалживали деньги купцам, в случае ограбления каравана или оплаты выкупа за него, стирали долги купцов, а за это, при получении долгов от купцов, в качестве стоимости рисков, сверх основного долга получали некоторое количество денег. Данная практика потом была узаконена королём Хаммурапи. Самая главная особенность Законов Хаммурапи заключалась в предусматривании распределения ущербов, понесённых ограбленными разбойниками караванов, между другими караванами. Эте самый первый пример распределения риска в сухопутных перевозках.

В 600 годах до нашей эры Индусы начали заключать кредитные соглашения, имеющие характер страхования. Простые в содержании данные соглашения имеют значение с точки зрения осуществления первых шагов в страховании путём развивания понятия страхования в обществе. Подобные кредитные соглашения также были усовершенствованы в средних веках и положили основу морского долга и страхования перевозок.

Затем, более близкие к страхованию практики наблюдались особенно в местах с развитоё морской торговлей. Среди первых морских наций, таких как карфагеняне, римляне, греки встречались люди, дававшие в долг на груз на борту судна, имеющего риски не дохождения до гавани и, когда судно благополучно возвращалось в гавань, получали обратно отданные в долг деньги и значительную долу в качестве процентов за риски. Получаемые эти проценты были очень высокими, что не понравилось церкви, через определённое время и были запрещены. С большей вероятностью этот запрет открыл путь к практике получения заранее премиальных выплат за возможные риски, что также открыло путь появлению мысли о страховании.</p>
						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->

					<div class="fullwidth-block">
						<div class="container">
							<h2 class="section-title">Наша команда</h2>

							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-1.jpg" alt=""></figure>
										<h2 class="team-name">Jessica Brown</h2>
										<small class="team-title">CEO</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-2.jpg" alt=""></figure>
										<h2 class="team-name">Jeremy Stuart</h2>
										<small class="team-title">Managing Director</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-3.jpg" alt=""></figure>
										<h2 class="team-name">Sarah Johnson</h2>
										<small class="team-title">Public Relation</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-4.jpg" alt=""></figure>
										<h2 class="team-name">Paul ferguson</h2>
										<small class="team-title">Consultant</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
							</div> <!-- .row -->
						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->
				</div> <!-- .page -->
			</main>
{% endblock content %}