{% extends "./base.html" %}

{% block content %}


			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="{% url 'home' %}">Басты бет</a>
						<span>Біз туралы</span>
					</div>
				</div>

				<div class="page">
					<div class="fullwidth-block">
						<div class="container">
							<h1 class="entry-title">Неге бізді таңдау керек?</h1>
							<p>Клиенттерімізге қамқорлық жасай отырып, біз сізді немесе сіздің бизнесіңізді қауіпсіз етуге көмектесетін бағдарламалар жасадық - автокөлік, мүлік, жылжымайтын мүлік, туристер, CASCO сақтандыру.

Nomad - сақтандыру нарығындағы көшбасшылардың бірі. Біз жалпы сақтандыру нарығында үшінші орындамыз. Қазақстанның әрбір жетінші азаматы бізді таңдап, өзінің тәуекелдерін сеніп тапсырды.

«Nomad Insurance» сақтандыру компаниясының барлық қызметтері туралы біліп, нақты мамандардың көмегін пайдаланыңыз.</p>
							
							<div class="features">
								<div class="feature-numbered">
									<div class="num">1</div>
									<h2 class="feature-title">Автокөлік</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
								<div class="feature-numbered">
									<div class="num">2</div>
									<h2 class="feature-title">Саяхат</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
								<div class="feature-numbered">
									<div class="num">3</div>
									<h2 class="feature-title">Меншік</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
								<div class="feature-numbered">
									<div class="num">4</div>
									<h2 class="feature-title">Денсаулық</h2>
{#									<p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>#}
								</div>
							</div>
						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->

					<div class="fullwidth-block" data-bg-color="#f1f1f1">
						<div class="container">
							<h2 class="section-title">Тарих</h2>
                            <p>Сақтандыруға ұқсас алғашқы тәжірибе Вавилонда біздің эрамызға дейінгі 4000 жыл бұрын кездеседі. Өз заманының сауда орталығы болған Вавилонда көпестерге несие берген байлар, керуен тоналған немесе ол үшін төлем төленген жағдайда, саудагерлердің қарыздарын жойып жіберген және бұл үшін қашан саудагерлерден қарыздар алу, тәуекел құны ретінде, олар негізгі қарыздан асып түскен ақша сомасын алды. Бұл тәжірибені кейінірек Хаммурапи патша заңдастырды. Хаммурапи заңдарының ең маңызды ерекшелігі тоналған керуен қарақшыларынан келген зиянды басқа керуендер арасында бөлуді қамтамасыз ету болды. Бұл жердегі көліктегі тәуекелдерді бөлудің алғашқы мысалы.

Біздің дәуірімізге дейінгі 600 жылы үнділіктер сақтандыру сипатындағы несиелік келісімдер жасай бастады. Мазмұны жағынан қарапайым бұл келісімдер қоғамдағы сақтандыру тұжырымдамасын жасау арқылы сақтандырудың алғашқы қадамдарын жасау тұрғысынан маңызды. Осыған ұқсас несиелік келісімдер орта ғасырларда да жетілдіріліп, теңіз қарыздары мен тасымалдауды сақтандырудың негізін қалады.

Содан кейін сақтандыруға жақын тәжірибелер байқалды, әсіресе теңіз саудасы дамыған жерлерде. Карфагендіктер, римдіктер, гректер сияқты алғашқы теңіз елдерінің арасында портқа жете алмау қаупі бар кеме бортында қарызға ақша берген және кеме портқа аман-есен оралғанда ақшаны алған адамдар болған. қарызға алынған және сападағы айтарлықтай үлес. Бұл алынған пайыздар өте жоғары болды, бұл шіркеуді ұнатпады, белгілі бір уақыт өткен соң оларға тыйым салынды. Сірә, бұл тыйым ықтимал тәуекелдер үшін алдын-ала сыйлықақы төлемдерін алу практикасына жол ашты, бұл сақтандыру идеясының пайда болуына да жол ашты. </p>			</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->

					<div class="fullwidth-block">
						<div class="container">
							<h2 class="section-title">Біздің команда</h2>

							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-1.jpg" alt=""></figure>
										<h2 class="team-name">Jessica Brown</h2>
										<small class="team-title">CEO</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-2.jpg" alt=""></figure>
										<h2 class="team-name">Jeremy Stuart</h2>
										<small class="team-title">Managing Director</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-3.jpg" alt=""></figure>
										<h2 class="team-name">Sarah Johnson</h2>
										<small class="team-title">Public Relation</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="team">
										<figure class="team-image"><img src="/static/assets/main/dummy/team-4.jpg" alt=""></figure>
										<h2 class="team-name">Paul ferguson</h2>
										<small class="team-title">Consultant</small>
										<div class="social-links">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
									</div> <!-- .team -->
								</div> <!-- .col-md-3 -->
							</div> <!-- .row -->
						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->
				</div> <!-- .page -->
			</main>
{% endblock content %}