{% extends "./base.html" %}

{% block content %}

			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="{% url 'home' %}">Басты бет</a>
						<span>Байланыстар</span>
					</div>
				</div>

				<div class="page">
					<div class="container">
						<div class="map"></div>

						<div class="row">
							<div class="col-md-3">
								<h2 class="section-title text-left">Адрес</h2>

								<div class="contact-detail">
									<address>
										<p>Название компании Nomad. <br>
											Абай 45, Алматы </p>

										<p>Телефонный номер: +7 747 777 66 55
											Почта: info@company.com</p>
									</address>
								</div>
							</div>
							<div class="col-md-9">
								<h2 class="section-title text-left">Форма обратной связи</h2>
								<form class="contact-form" method='POST'>
                                    {% csrf_token %}
									<div class="row">
										<div class="col-md-4"><input type="text" placeholder="Ваше имя..." name="name"></div>
										<div class="col-md-4"><input type="text" placeholder="Электронное письмо..." name="email"></div>
										<div class="col-md-4"><input type="text" placeholder="Номер телефона..." name="phone"></div>
									</div>

									<textarea  placeholder="Сообщение..." name="description"></textarea>

									<p class="text-right">
										<input type="submit" value="Отправить сообщение">
									</p>
								</form>


							</div>
						</div>
					</div>
				</div> <!-- .page -->
			</main>
{% endblock content %}