<div class="site-footer">
	<div class="widget-area">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Байланыстар</h3>
						<address> Компанияның атауы - Nomad. Абай 45, Алматы
						</address>
						<a href="#">Телефон нөмірі: +7 747 777 66 55</a>
                        <br>
						<a href="mailto:info@company.com">Почта: info@company.com</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Компания</h3>
						<ul class="no-bullet">
							<li><a href="{% url 'about' %}">Біз туралы</a></li>
							<li><a href="#">Infoline</a></li>
							<li><a href="#">Team</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Қызметтер</h3>
						<ul class="no-bullet">
							<li><a href="%2Finsurance/add/2">Автокөлік</a></li>
							<li><a href="%2Finsurance/add/4">Мүлікті сақтандыру</a></li>
							<li><a href="%2Finsurance/add/3">Саяхаттарды сақтандыру</a></li>
							<li><a href="%2Finsurance/add/1">Денсаулық</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Біздің шешімдеріміз</h3>
						<ul class="no-bullet">
							<li><a href="#">Тұсаукесер</a></li>
							<li><a href="#">Пікірлер</a></li>
							<li><a href="#">Мысалдары</a></li>
							<li><a href="#">Біздің мамандар</a></li>
							<li><a href="#">Ресурстар</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-footer">
		<div class="container">
			<nav class="footer-navigation">
				<a href="{% url 'home' %}">Басты бет</a>
                <a href="{% url 'about' %}">Біз туралы</a>
				<a href="{% url 'insurance' %}">Сақтандыру жоспарлары</a>
				<a href="{% url 'contact' %}">Байланыстар</a>
			</nav>

			<div class="colophon">Copyright 2021 Nomad. Все права защищены.</div>
		</div>
	</div>
</div>