<div class="site-footer">
	<div class="widget-area">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Контакты</h3>
						<address> Название компании Nomad. Абай 45, Алматы
						</address>
						<a href="#">Телефонный номер: +7 747 777 66 55</a>
                        <br>
						<a href="mailto:info@company.com">Почта: info@company.com</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Компания</h3>
						<ul class="no-bullet">
							<li><a href="{% url 'about' %}">О Нас</a></li>
							<li><a href="#">Infoline</a></li>
							<li><a href="#">Team</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Услуги</h3>
						<ul class="no-bullet">
							<li><a href="#">Автомобиль</a></li>
							<li><a href="#">Страхование имущества</a></li>
							<li><a href="#">Страхование путешествий</a></li>
							<li><a href="#">Здоровье</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget">
						<h3 class="widget-title">Наши решения</h3>
						<ul class="no-bullet">
							<li><a href="#">Презентация</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Примеры</a></li>
							<li><a href="#">Наши специалисты</a></li>
							<li><a href="#">Ресурсы</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-footer">
		<div class="container">
			<nav class="footer-navigation">
				<a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'about' %}">О Нас</a>
				<a href="{% url 'insurance' %}">Страховые планы</a>
				<a href="{% url 'resources' %}">Ресурсы</a>
				<a href="{% url 'contact' %}">Контакты</a>
			</nav>

			<div class="colophon">Copyright 2021 Nomad. Все права защищены.</div>
		</div>
	</div>
</div>