{% extends "./base.html" %}

{% block content %}

			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="{% url 'home' %}">Басты бет</a>
						<span>Сақтандыру жоспарлары</span>
					</div>
				</div>

				<div class="page">
					<div class="container">
						<h3 class="entry-title">Сақтандыру жоспарын таңдаңыз</h3>
						<p> </p>

						<div class="filterable-items">
							<div class="insurance-item filterable-item shopping-center">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-sofa"></i></div>
									<h3 class="insurance-title">Меншік</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Finsurance/add/4" class="button">Толығырақ қараңыз</a>
								</div>
							</div>
						

							<div class="insurance-item filterable-item skyscraper">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-pool"></i></div>
									<h3 class="insurance-title">Саяхат</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Finsurance/add/3" class="button">Толығырақ қараңыз</a>
								</div>
							</div>

							<div class="insurance-item filterable-item apartment">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-car"></i></div>
									<h3 class="insurance-title">Автокөлік</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Finsurance/add/2" class="button">Толығырақ қараңыз</a>
								</div>
							</div>

							<div class="insurance-item filterable-item skyscraper">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-nurse"></i></div>
									<h3 class="insurance-title">Денсаулық</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Finsurance/add/1" class="button">Толығырақ қараңыз</a>
								</div>
							</div>
						</div>

{#						<div class="pagination">#}
{#							<span class="current">1</span>#}
{#							<a href="#">2</a>#}
{#							<a href="#">3</a>#}
{#						</div>#}
					</div>
				</div> <!-- .page -->
			</main>


{% endblock content %}