{% extends "./base.html" %}

{% block content %}

			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="{% url 'home' %}">Главная</a>
						<span>Страховые планы</span>
					</div>
				</div>

				<div class="page">
					<div class="container">
						<h3 class="entry-title">Выберите свой страховой план</h3>
						<p> </p>

{#						<div class="filter-links filterable-nav">#}
{#							<select class="mobile-filter">#}
{#								<option value="*">Show all</option>#}
{#								<option value=".skyscraper">skyscraper</option>#}
{#								<option value=".shopping-center">shopping-center</option>#}
{#								<option value=".apartment">apartment</option>#}
{#							</select>#}
{#							<strong>Select Category: </strong>#}
{#							<a href="#" class="current wow fadeInRight" data-filter="*">Show all</a>#}
{#							<a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".skyscraper">skyscraper</a>#}
{#							<a href="#" class="wow fadeInRight" data-wow-delay=".4s" data-filter=".shopping-center">shopping-center</a>#}
{#							<a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".apartment">apartment</a>#}
{#						</div>#}

						<div class="filterable-items">
							<div class="insurance-item filterable-item shopping-center">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-sofa"></i></div>
									<h3 class="insurance-title">Страхование имущества</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Fresources" class="button">Смотрите подробности</a>
								</div>
							</div>
						

							<div class="insurance-item filterable-item skyscraper">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-pool"></i></div>
									<h3 class="insurance-title">Страхование путешествий</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Fresources" class="button">Смотрите подробности</a>
								</div>
							</div>

							<div class="insurance-item filterable-item apartment">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-shirt"></i></div>
									<h3 class="insurance-title">Страхование бизнеса</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Fresources" class="button">Смотрите подробности</a>
								</div>
							</div>

							<div class="insurance-item filterable-item shopping-center">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-weigher"></i></div>
									<h3 class="insurance-title">Финансовый баланс</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Fresources" class="button">Смотрите подробности</a>
								</div>
							</div>

							<div class="insurance-item filterable-item apartment">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-car"></i></div>
									<h3 class="insurance-title">Автомобиль</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="%2Fresources" class="button">Смотрите подробности</a>
								</div>
							</div>

							<div class="insurance-item filterable-item skyscraper">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-nurse"></i></div>
									<h3 class="insurance-title">Здоровье</h3>
{#									<p>Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.</p>#}
									<a href="/%2Fresources" class="button">Смотрите подробности</a>
								</div>
							</div>
						</div>

{#						<div class="pagination">#}
{#							<span class="current">1</span>#}
{#							<a href="#">2</a>#}
{#							<a href="#">3</a>#}
{#						</div>#}
					</div>
				</div> <!-- .page -->
			</main>


{% endblock content %}